<div class="homeHeader" routerLink="/home">
    <div class="homeName">
        Tim Dawson
    </div>
    <div class="homeSubtitle">
        Renaissance Man
    </div>
</div>


<div class="aboutRow row">
	<div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-2 aboutImage">
		<img src="/assets/img/hs.png">
	</div>
	<div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0 aboutText">
		I earned my BA in English from Utah Valley University in December, 2016. I learned how to code full-stack applications at V-School in Salt Lake City, Utah. My professional strengths lie in full-stack web development, UX/UI development, IT, miscellaneous computer/technical tasks, audio production, communications, writing, and research. I spend my free time with my family and my dogs. I keep up to date on all the greatest TV shows, podcasts, technological developments, and other fun stuff. And, I code.
		<ul>
			<li class="aboutLink" routerLink="/contact">
				Contact Me Here
			</li>
			<li>
				<a href="/assets/dawson-tech-resume.docx" download class="aboutLink">Download My Resume</a>
			</li>
			<li class="aboutLink" routerLink="/home">
				Checkout My Home/Projects Page
			</li>
		</ul>
	</div>
</div>

<h1>Keep Scrolling to See My Skills and Resume!</h1>
<i class="fa fa-chevron-down down" aria-hidden="true"></i>
<h4 routerLink="/about" routerLink="/contact">[Or Click Here to Get in Touch with Me]</h4>
<br />


<div class="logoWrapper container-fluid">
	<h2 class="logoDescription">Front End Technologies</h2>
	<div class="row">
		<div class="logoDiv col-xs-12 col-sm-3">
			<img class="center-block" src="/assets/logos/angular.svg" />
		</div>
		<div class="logoDiv col-xs-12 col-sm-3">
			<img class="center-block" src="/assets/logos/html.png" />
		</div>
		<div class="logoDiv col-xs-12 col-sm-3">
			<img class="center-block" src="/assets/logos/css.svg" />
		</div>
		<div class="logoDiv col-xs-12 col-sm-3">
			<img class="center-block" src="/assets/logos/javascript.png" />
		</div>
	</div>

	<div class="row">
		<div class="logoDiv col-xs-12 col-sm-3">
			<img class="center-block" src="/assets/logos/typescript.png" />
		</div>
		<div class="logoDiv col-xs-12 col-sm-3">
			<img class="center-block" src="/assets/logos/wordpress.png" />
		</div>
		<div class="logoDiv col-xs-12 col-sm-3">
			<img class="center-block" src="/assets/logos/squarespace.jpg" />
		</div>
		<div class="logoDiv col-xs-12 col-sm-3">
			<img class="center-block" src="/assets/logos/jquery.png" />
		</div>
	</div>

	<div class="row">
		<div class="logoDiv col-xs-12 col-sm-4">
			<img class="center-block" src="/assets/logos/bootstrap.png" />
		</div>
		<div class="logoDiv col-xs-12 col-sm-4">
			<img class="center-block" src="/assets/logos/sass.svg" />
		</div>
		<div class="logoDiv col-xs-12 col-sm-4">
			<img class="center-block" src="/assets/logos/flexbox.jpeg" />
		</div>
	</div>



	<h2 class="logoDescription">Back End Technologies</h2>
	<div class="row">
		<div class="logoDiv col-xs-12 col-sm-3">
			<img class="center-block" src="/assets/logos/node.jpeg" />
		</div>
		<div class="logoDiv col-xs-12 col-sm-3">
			<img class="center-block" src="/assets/logos/express.png" />
		</div>
		<div class="logoDiv col-xs-12 col-sm-3">
			<img class="center-block" src="/assets/logos/mongodb.png" />
		</div>
		<div class="logoDiv col-xs-12 col-sm-3">
			<img class="center-block" src="/assets/logos/mongoose.png" />
		</div>
	</div>

	<h2 class="logoDescription">Visual Content Design/Creation/Editing</h2>
	<div class="row">
		<div class="logoDiv col-xs-12 col-sm-3">
			<img class="center-block" src="/assets/logos/adobe.png" />
		</div>
		<div class="logoDiv col-xs-12 col-sm-3">
			<img class="center-block" src="/assets/logos/photoshop.jpg" />
		</div>
		<div class="logoDiv col-xs-12 col-sm-3">
			<img class="center-block" src="/assets/logos/lightroom.png" />
		</div>
		<div class="logoDiv col-xs-12 col-sm-3">
			<img class="center-block" src="/assets/logos/powerpoint.png" />
		</div>
	</div>

	<h2 class="logoDescription">Collaborative Assets</h2>
	<div class="row">
		<div class="logoDiv col-xs-12 col-sm-4">
			<img class="center-block" src="/assets/logos/agilescrum.jpeg" />
		</div>
		<div class="logoDiv col-xs-12 col-sm-4">
			<img class="center-block" src="/assets/logos/githublogo.png" />
		</div>
		<div class="logoDiv col-xs-12 col-sm-4">
			<img class="center-block" src="/assets/logos/googledrive.png" />
		</div>
	</div>

	<h2 class="logoDescription">Text/Data Creation/Editing</h2>
	<div class="row">
		<div class="logoDiv col-xs-12 col-sm-3">
			<img class="center-block" src="/assets/logos/excel.png" />
		</div>
		<div class="logoDiv col-xs-12 col-sm-3">
			<img class="center-block" src="/assets/logos/googledocs.png" />
		</div>
		<div class="logoDiv col-xs-12 col-sm-3">
			<img class="center-block" src="/assets/logos/googlesheets.png" />
		</div>
		<div class="logoDiv col-xs-12 col-sm-3">
			<img class="center-block" src="/assets/logos/indesign.png" />
		</div>
	</div>

	<div class="row">
		<div class="logoDiv col-xs-12 col-sm-6">
			<img class="center-block" src="/assets/logos/microsoftoffice.png" />
		</div>
		<div class="logoDiv col-xs-12 col-sm-6">
			<img class="center-block" src="/assets/logos/word.png" />
		</div>
	</div>

	<h2 class="logoDescription">Social Media</h2>
	<div class="row">
		<div class="logoDiv col-xs-12 col-sm-4">
			<img class="center-block" src="/assets/logos/facebook.png" />
		</div>
		<div class="logoDiv col-xs-12 col-sm-4">
			<img class="center-block" src="/assets/logos/insta.png" />
		</div>
		<div class="logoDiv col-xs-12 col-sm-4">
			<img class="center-block" src="/assets/logos/reddit.png" />
		</div>
    </div>
    <div class="row">
		<div class="logoDiv col-xs-12 col-sm-6">
			<img class="center-block" src="/assets/logos/snap.png" />
		</div>
		<div class="logoDiv col-xs-12 col-sm-6">
			<img class="center-block" src="/assets/logos/twitter.png" />
		</div>
	</div>

	<h2 class="logoDescription">Audio Content Creation/Editing</h2>
	<div class="row">
		<div class="logoDiv col-xs-12 col-sm-4">
			<img class="center-block" src="/assets/logos/protools.jpg" />
		</div>
		<div class="logoDiv col-xs-12 col-sm-4">
			<img class="center-block" src="/assets/logos/logic.png" />
		</div>
		<div class="logoDiv col-xs-12 col-sm-4">
			<img class="center-block" src="/assets/logos/garageband.jpg" />
		</div>
	</div>
</div>

<div class="container resumeWrapper">
	<h2 class="logoDescription" id="resume">Expanded Resume</h2>
	<div class="row">
		<div class="col-xs-12 col-xs-4 resumeTitle">
			<h4>Education</h4>
		</div>
		<div class="col-xs-12 col-xs-8 resumeDes">
			<h5>Utah Valley University, Orem, UT. BA in English with a concentration in Literary Studies. Graduated 2016.</h5>
			<p>
				I include this on a technical portfolio because I find the skills I acquired in this program transferable to any field. I became an adept learner. I learned to take on tasks with a great deal of depth rather than just breadth. I learned about cultural and societal trends, psychology, history, and overall I gained a better understanding of how the world works. Because of this, I'm prepared to enter any field with a greater understanding of how it works, what's driving the people and the market to do what it's doing, and most importantly, I can jump into things, learn the ins and outs to a high degree, and become an invaluable asset in a very short time.
			</p>
			<h5>V School, Salt Lake City, UT. Full Stack Web Development Certificate. Graduated 2017.</h5>
			<p>
				Within just a few short months, and with the help of the program at V School, I've rapidly cultivated a vast array of technological skills, particularly in full-stack web app development. My cohort focused on MEAN stack apps, using the original AngularJS. I went beyond this in my own time to learn Angular 2+, completed extra projects on the side, and even began freelance work on websites. I have quickly become a confident, capable coder with skills in many languages in the front and back end.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-xs-4 resumeTitle">
			<h4>Projects</h4>
		</div>
		<div class="col-xs-12 col-xs-8 resumeDes">
			<h5 class="projectLink" routerLink="/home">[Click to navigate to home/projects page]</h5>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-xs-4 resumeTitle">
			<h4>Skills and Abilities</h4>
		</div>
		<div class="col-xs-12 col-xs-8 resumeDes">
			<h5>Full Stack Web Development</h5>
				<ul>
					<li>
						<b>MEAN</b> - I have written multiple apps using MongoDB/Mongoose, ExpressJS, AngularJS, and Node. I am very experienced and confident in all aspects of this stack.
					</li>
					<li>
						<b>Angular 2+</b> - I took it upon myself to learn Angular 2+ with a couple of other willing souls during a group project. Within one week I went from having zero experience in Angular 2+, and zero experience in component-based coding, to writing multiple apps in this new (to me) framework. Even this website is written in Angular 2+.
					</li>
					<li>
						<b>HTML, CSS, JS</b> - It would be remiss of me not to mention these backbone languages of coding. I am very experienced and capable of writing/debugging/fixing all kinds of code within these languages. With the experience I have in these languages, the roots of web app development, and the demonstrably quick manner in which I learned Angular 2+, I can reliably say I would be able to learn any language, framework, or stack quickly and effectively enough to stave off any learning curves that one encounters when switching to new technologies.
					</li>
					<li>
						<b>CSS Expanded</b> - I have used Twitter Bootstrap, Sass, Angular Animations, CSS Keyframes, Flex Box, and more, to enhance CSS styling, animation, and positioning.
					</li>
					<li>
						<b>JS Expanded</b> - In conjunction with learning Angular 2+, I had to pick up TypeScript. As I have written many apps in Angular 2+, I am as capable with TypeScript as I have with vanilla JS. I have also learned and used jQuery in more vanilla apps. When moving into frameworks like Angular, I moved away from jQuery, but can still write in it when needed.
					</li>
					<li>
						<b>Website Builders</b> - I have built and maintained various websites over the years using technologies like Squarespace and WordPress.
					</li>
				</ul>
			<h5>Multiple years of experience in: </h5>
				<ul>
					<li>
						<b>Microsoft Word</b>
					</li>
					<li>
						<b>Microsoft Excel</b>
					</li>
					<li>
						<b>Microsoft Powerpoint</b>
					</li>
					<li>
						<b>Google Docs</b>
					</li>
					<li>
						<b>Google Sheets</b>
					</li>
				</ul>
			<h5>Visual Editing/Design</h5>
				<ul>
					<li>
						<b>Adobe InDesign </b>- During my time working as an author, editor, and eventually Editor-in-Chief for the undergraduate academic journal Essais at Utah Valley University, this is the program we used to typeset and organize our journals each semester. I can take a work from conception, to proof, to print with InDesign.
					</li>
					<li>
						<b>Adobe Photoshop/Lightroom</b> - I have been working in photoshop, primarily for edits and secondarily for content creation, since high school. I am able to use either of these programs to manipulate/create images, logos, wireframes for websites, and more.
					</li>
				</ul>
			<h5>Audio</h5>
				<ul>
					<li>
						<b>Logic/Pro Tools/Garage Band</b> - I have been editing and producing musical audio using these tools for around a decade. I have recently started producing podcasts with these technologies as well.
					</li>
				</ul>
			<h5>Research</h5>
				<ul>
					<li>
						<b>Technical Maintenance</b> - Perhaps the greatest advantage my research background gives me regarding tech is my ability to stay on top of trends, and find quick solutions to my problems. I am adept across the obvious platforms like Stack Overflow and Github. I am a resourceful person when it comes to finding solutions to obscure issues, and an astute observer of the current climate in tech.
					</li>
					<li>
						<b>Topical Maintenance</b> - Intertwined with that technical maintenance is my experience discovering, accruing, and maintaining specific information on esoteric matters. With these skills I am able to be your most informed and organized resource regarding any needed topic.
					</li>
					<li>
						<b>Longterm Research</b> -	I have immense experience carrying out projects over long periods of time, from weeks to months to years. I am organized and careful and thorough in my research, in my upkeep of documents, and in my abilities to get thorough, meaningful information, even when extending beyond expected timeframes.
					</li>
				</ul>
			<h5>Team Skills</h5>
				<ul>
					<li>
						<b>Leadership</b> - As an Editor-in-Chief, a House Manager, a teaching assistant, a substitute teacher, and a group leader in countless projects throughout my academic career, I have developed strong leadership skills. I have overseen and managed projects that took multiple teams and multiple goals over varying timeframes. I have trained new employees and volunteers. I have mentored and taught. And I have, in my opinion, most importantly learned to be a collaborator in a leading position. I am able to listen to my teams' ideas, delegate certain tasks to the strongest in our group, make executive decisions when it is time to do so and the options have been weighed, and roll up my sleeves and get to work with the team.
					</li>
					<li>
						<b>Collaboration</b> - I have vast experience in collaborative technologies like Github and Google Drive. I have worked in Agile/Scrum environments.
					</li>
				</ul>
			<h5>Communication</h5>
				<ul>
					<li>
						<b>Written</b> - I have extensive experience writing clear and articulate papers, memos, statements, reviews, and reports.
					</li>
					<li>
						<b>Verbal</b> - I have experience training employees and volunteers, working with customers, and collaborating with teams. In each of these, I practice careful listening and clear expression.
					</li>
					<li>
						<b>Speaking</b> - I have done many public presentations about my work. I have led many class discussions and lectures.
					</li>
					<li>
						<b>Visual</b> - I have often accompanied my spoken presentations with visual technologies like Powerpoint.
					</li>
				</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-xs-4 resumeTitle">
			<h4>Previous Employment</h4>
		</div>
		<div class="col-xs-12 col-xs-8 resumeDes">
			<h5>Editor-in-Chief. Essais, Utah Valley University, Orem, UT. Fall, 2016.</h5>
			<p>
				Oversaw the entire process of publishing this student journal from recruiting more staff, leading editors in revision, keeping authors to their deadlines, checking sources, typesetting and designing the journal, and finally printing and launching.
			</p>
			<h5>Teaching Assistant. Dr. Christa Albrecht-Crane, Utah Valley University, Orem, UT. Fall, 2016.</h5>
			<p>

			</p>
			<h5>Research Assistant. Utah Valley University, Orem, UT. Spring-Summer, 2016.</h5>
			<p>
				Assisted a staff of librarians in heavy research for professors’ projects. Read more than twenty documents a day and extracted important information. Assisted in archival procedures.
			</p>
			<h5>Research Assistant. Dr. Jans Wager, Utah Valley University, Orem, UT. 2015-2016.</h5>
			<p>
				Assisted Dr. Wager in her project developing an entry for Ida Lupino for Oxford Bibliographies. Gathered, organized, and determined relevance of hundreds of sources on Lupino.
			</p>
			<h5>Substitute Teacher. Alpine School District, K-12.</h5>
			<p>

			</p>
			<h5>House Manager. Covey Center for the Arts, Provo, UT. 2014-2015.</h5>
			<p>
				Collaborated with show directors, trained volunteers, oversaw handling of cash and managed a staff of cashiers and security.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-xs-4 resumeTitle">
			<h4>Presentations</h4>
		</div>
		<div class="col-xs-12 col-xs-8 resumeDes">
			<h5>Oxford, Ida, and UVU.</h5>
			<p>
				Presented the work done with Dr. Jans Wager at the Utah Symposium on Digital Humanities in February 2016.
			</p>
			<h5>Enlightened Irony.</h5>
			<p>
				Presented my paper published in the journal for Essais' Launch Night in April 2016.
			</p>
			<h5>Essais: Publishing for Change.</h5>
			<p>
				Presented and co-chaired the panel our group's presentation for the Writing for Social Change Conference at Utah Valley University in November 2016.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-xs-4 resumeTitle">
			<h4>Publications</h4>
		</div>
		<div class="col-xs-12 col-xs-8 resumeDes">
			<h5>Enlightened Irony: How Swiftian Desire Developed from Lockean Ideas.</h5>
			<p>
				Essais, Spring, 2016. Undergraduate student journal. Department of Literature. Utah Valley University.
			</p>
			<h5>They Took Our Jobs: A Call for Studying Humanities During the Development of Artificial Intelligence.</h5>
			<p>
				Intersections, Fall 2016. Undergraduate student journal. Utah Valley University.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-6 bottomlinks" routerLink="/home">
			To the Home/Projects Page
		</div>
		<div class="col-xs-6 bottomlinks" routerLink="/contact">
			To the Contact Page
		</div>
	</div>
</div>



<div class="contactLink" routerLink="/contact">
    Contact Me
</div>
