/*navbar always showing*/
    /*navbar hamburger*/
#nav-icon {
    width: 15vw;
	height: 15vw;
	max-width: 30px;
	max-height: 50px;
  	position: fixed;
	top: 16px;
  	right: 16px;
	z-index: 1001 !important;
}

#nav-icon:hover {
	transition: all 0.1s ease;
	cursor: pointer;
}

#nav-icon:hover span {
	background-color: #C76D18;
}

#nav-icon span {
	display: block;
 	position: absolute;
 	height: 2px;
 	width: 100%;
  	background-color: rgba(155, 155, 155, 1);
  	border-radius: 9px;
  	opacity: 1;
  	left: 0;
  	transition: .25s ease-in-out;
}

#nav-icon.normal #span1 {
  	top: 0px;
}

#nav-icon.normal #span2 {
  	top: 10px;
}

#nav-icon.normal #span3 {
  	top: 20px;
}

#nav-icon.x #span1 {
  	top: 10px;
  	transform: rotate(135deg);
	color: red;
}

#nav-icon.x #span2 {
  	opacity: 0;
  	left: 60px;
	top: 15px;
}

#nav-icon.x #span3 {
  	top: 10px;
  	transform: rotate(-135deg);
}
    /*navbar hamburger*/
/*end of navbar always showing*/



/*real navigation*/
.navShowing {
	background-color: rgba(85, 85, 85, 1);
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0px;
	left: 0px;
	z-index: 1000;
	transition: all 0.5s ease;
	overflow: scroll;
}


.navHiding {
	background-color: rgba(80, 80, 80, 0);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 100vh;
	left: 0px;
	transition: all 0.4s ease-out;
}

.navHiding h1 {
    display: none;
	margin-top: 150px;
	margin-left: 100px;
	color: rgba(80, 80, 80, 1);
	font-family: "Work Sans", sans-serif;
    transition: all 0.2s ease-out;
}

.navShowing h1 {
    display: none;
	margin-top: 150px;
	margin-left: 100px;
	color: darkorange;
	font-family: "Work Sans", sans-serif;
}

.boxesWrapper {
    position: relative;
    top: 20vh;
}


.navboxWrap {
	position: relative;
    line-height: 200px;
}

.navbox {
    width: 80vw;
    height: 200px;
	max-width: 300px;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	position: relative;
	background-color: rgba(280, 280, 280, 1);
	font-size: 16px;
	text-align: center;
	font-family: "Work Sans", sans-serif;
}

.navbox:hover {
	background-image: linear-gradient(135deg, rgba(215, 215, 215, 1) 50%, rgba(210, 210, 210, 1) 50%);
	cursor: pointer;
	transition: all 0.5s ease;
	font-size: 20px;
	color: grey;
}
/*real navigation*/





/*media queriesssssss*/
@media (max-width: 991px){
	/*.footerDirect{
		position: static;
	}
	.footerRow {
		text-align: center;
	}

	.footerRow span {
		display: block;
	}
	.animated {
		display: none;
	}
	.homeMainContent{
		width: 80vw;
		left: 10vw;
	}*/
	.navbox {
		height: 100px;
	}
    .navboxWrap {
        line-height: 100px;
    }
	/*.devFooterContact{
		opacity: 0;
	}
	.devFooterNumber{
		left: 50%;
		top: 20%;
	}
	.devFooterEmail{
		left: 50%;
		top: 40%;
	}
	.git{
		right: 80%;
		top: 50%;
		width: 50px;
		margin-right: -25px;
	}
	.linked{
		right: 20%;
		top: 50%;
		width: 50px;
		margin-right: -25px;
	}*/
}

@media (min-width: 991px) {
	.navShowing h1 {
		display: block;
	}
    .navHiding h1 {
        display: block;
    }
    .boxesWrapper {
        top: 10vh;
    }
}
