<div class="homeHeader" routerLink="/home">
    <div class="homeName">
        Tim Dawson
    </div>
    <div class="homeSubtitle">
        Renaissance Man
    </div>
</div>



<div class="contactWrapper container">
    <div class="contactNumber">(385) 207-6658</div>
    <a href="mailto:timltdawson@gmail.com" class="contactEmail">timltdawson@gmail.com</a>
    <div class="contactIcons row">
    	<a target="_blank" href="https://github.com/luckofcanuck/" class="git col-xs-12 col-sm-offset-5 col-sm-1"><i class="fa fa-github fa-lg" aria-hidden="true" href=""></i></a>
    	<a target="_blank" href="https://www.linkedin.com/in/luckofcanuck/" class="linked col-xs-12 col-sm-1"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
    </div>

</div>
