

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Scroll through this page to compare the original layout of KandJ Diaries to my conversion.</h2>
            <p>
                The main differences are in the height of the navbar, and in the responsive nature of the actual blog entries. Both of these, I attempted to make neater in my conversion rather than exactly replicate the original.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-xs-6">
            <h4>KandJ Jumbotron/Nav</h4>
            <img src="/assets/img/jumboK.png" />
        </div>
        <div class="col-xs-12 col-xs-6">
            <h4>My Jumbotron/Nav</h4>
            <img src="/assets/img/jumboMine.png" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-xs-6">
            <h4>KandJ Layout/Entries with Adverts</h4>
            <img src="/assets/img/mainK.png" />
        </div>
        <div class="col-xs-12 col-xs-6">
            <h4>My Layout/Entries with Adverts</h4>
            <img src="/assets/img/mainMine.png" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-xs-6">
            <h4>KandJ Entry on Smaller Screen</h4>
            <img class="tall" src="/assets/img/tallK1.png" />
            <img class="tall" src="/assets/img/tallk2.png" />
        </div>
        <div class="col-xs-12 col-xs-6">
            <h4>My Entry on Smaller Screen</h4>
            <img class="tall" src="/assets/img/tallMine.png" />
        </div>
    </div>
</div>
