<div class="homeHeader" routerLink="/about">
    <div class="homeName">
        Tim Dawson
    </div>
    <div class="homeSubtitle">
        Renaissance Man
    </div>
</div>

<div class="homeContent container-fluid">
    <h3 class="homePlainText col-xs-12">Welcome to my portfolio! I'm a full-stack web developer with strengths in: </h3>
<div class="row">
    <div class="col-xs-12 col-md-3 homeCardHeaders">
        <i class="fa fa-2x fa-laptop" aria-hidden="true"></i>
        <h2>UX/UI</h2>
        <span class="cardText">Whether you need someone to convert your PSDs or wireframes into a working website, or to collaborate with your team and add functionality or design, or someone to take your ideas from sketching all the way to deployment, I have the experience and skills you need.</span>
    </div>
    <div class="col-xs-12 col-md-3 homeCardHeaders">
        <i class="fa fa-2x fa-code" aria-hidden="true"></i>
        <h2>Coding</h2>
        <span class="cardText">I also have ample experience working with full-stack applications. I have built my own APIs, I work with HTTP and CRUD, I build everything your full-stack app might need from complex schemas and routes on the back end, to User Authentication, to an interactive front end.</span>
    </div>
    <div class="col-xs-12 col-md-3 homeCardHeaders">
        <i class="fa fa-2x fa-pencil" aria-hidden="true"></i>
        <h2>Content</h2>
        <span class="cardText">I have a strong history of creating and editing content, both long and short-form, in writing, presentations, audio, and much, much more.</span>
    </div>
    <div class="col-xs-12 col-md-3 homeCardHeaders">
        <i class="fa fa-2x fa-search" aria-hidden="true"></i>
        <h2>Research</h2>
        <span class="cardText">From pouring over hefty tomes to better contribute in academic conversations, to gathering and sorting countless sources on specific topics for various projects, to staying up to date and fully in-the-know regarding any necessary trends-- I have the extensive research experience to be your most informed resource.</span>
    </div>
</div>

<h1>Keep Scrolling to See Projects!</h1>
<i class="fa fa-chevron-down down" aria-hidden="true"></i>
<h4 routerLink="/about">[Or Click Here to Learn More About Me and Specifics About My Skillset]</h4>
</div>

<div class="projectWrapper">
    <app-projects></app-projects>
</div>
