.homeContent {
	position: relative;
	top: 100px;
}

.homeCardHeaders {
	width: 25vw;
	text-align: center;
}

i {
	color: darkorange;
	margin-top: 80px;
	margin-bottom: 20px;
	text-align: center;
}

h1 {
	margin-top: 50px;
	width: 100%;
	text-align: center;
	color: darkgrey;
}

.down {
	position: relative;
	width: 100px;
	margin-left: -50px;
	left: 50vw;
	margin-top: 0px;
	color: white;
}

h2 {
	margin-top: 0px !important;
	color: darkgrey;
}

h3 {
	color: darkorange;
	text-align: center;
}

h4 {
	width: 100%;
	color: darkorange;
	text-align: center;
}

h4:hover {
	color: orange;
	cursor: pointer;
	transition: all 0.3s ease;
}

.homeHeader {
	position: relative;
	left: 24px;
    top: 24px;
}

.cardText {
	color: white;
}

.homeHeader:hover .homeName {
	color: lightgrey;
	transition: all 0.2s ease;
	cursor: pointer;
}

.homeHeader:hover .homeSubtitle {
	color: lightgrey;
	transition: all 0.2s ease;
	cursor: pointer;
}



.homeName {
	font-size: 20px;
	color: grey;
	width: 140px;
	text-align: center;
	font-family: "Work Sans", sans-serif;
}


.homeSubtitle {
	font-size: 16px;
	color: grey;
	width: 140px;
	text-align: center;
	font-family: "Work Sans", sans-serif;
}

.homeSubtitle::before {
	content: '';
	border-top: 1px solid lightgrey;
	width: 140px;
	position: absolute;
	top: 26px;
	left: 0px;
	animation: widen 0.5s ease;
}

@keyframes widen {
	from {width: 0px;}
	to {width: 140px;}
}





.projectWrapper {
	position: relative;
	margin-top: 100px;
}

.contactLink {
	text-align: center;
	color: lightgrey;
	margin-top: 50px;
	margin-bottom: 50px;
}

.contactLink:hover {
	color: grey;
	cursor: pointer;
}



@media (max-width: 991px) {
	.homeCardHeaders {
		width: 60vw;
		position: relative;
		left: 20vw;
	}

	i {
		margin-top: 24px;
	}
}
